* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.header {
  overflow: hidden;
  /* background-color: #f1f1f1; */
  /* padding: 20px 10px; */
}

.header a {
  float: left;
  color: #525050;
  text-align: center;
  /* padding: 12px; */
  text-decoration: none;
  font-size: 0.9em;
  /* line-height: 25px; */
  border-radius: 4px;
}

.header a.logo img {
  width: 100%;
  height: auto;
  max-width: 36vw;
}

.header a:hover {
  /* background-color: #ddd; */
  color: black;
}

.header a.active {
  /* background-color: dodgerblue; */
  color: rgb(20, 20, 20);
}

.header-right {
  float: right;
  padding: 1.5em;
}
.header-right a {
  padding: 0 0.8em;
}
.header-right a .fa-caret-down {
  padding-left: 0.5em;
  color: #b8b8b8;
}
.head-body {
  background-image: url("./assets/home-image_one.svg");
  height: 65vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.content {
  width: 56vw;
  text-align: center;
  color: #fff;
  margin-bottom: 6em;
}
.content h1 {
  margin: 0.4em;
}
.company_name {
  font-weight: 500;
}
.content p {
  font-size: 0.9em;
}
.content button {
  font-size: 0.7em;
  border: none;
  padding: 0.6em 1em;
  color: #0f4c98;
  margin: 2em 0;
}
.threeboxs {
  display: inline-block;
  max-width: 32%;
  padding: 1em;
  /* padding: 1vw; */
}
.main {
  /* padding: 0 6em; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45vh;
}
.sub-main {
  padding: 5vh 4vw;
  width: 81vw;
  box-shadow: 0px 5px 10px 3px #c0c0c0;
  position: absolute;
  background-color: #fff;
  bottom: 0%;
}
.imgbox {
  border: 1px solid #d8d8d8;
  height: 10em;
  background-color: #f6f6f6;
  padding: 2em;
  text-align: center;
}
.threeboxs h6 {
  margin: 1.2em 0 0.5em;
  font-size: 1em;
  font-weight: 500;
  color: #266dc6;
}
.threeboxs p {
  margin: 0;
  font-size: 0.9em;
}

.brand {
  padding: 0vh 20vh;
  /* background-size: cover; */
}
.brand-sub {
  padding: 1em;
  background-image: url(./assets/brand-new.svg);
  background-position: 100% 50%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  background-size: 60%;
  align-items: center;
}
.brand-new {
  width: 38%;
}
.brand-border {
  padding: 0 2em;
  border-left: 5px solid red;
}
.brand-border p {
  font-size: 0.8em;
}
.brand-new button {
  margin-left: 3em;
  margin-top: 2em;
  background: #1373e5;
  border: none;
  padding: 0.5em 1em;
  color: #fff;
  text-transform: capitalize;
}
.inclusive {
  padding: 0 8vh;
  background-color: #0c8e9b;
}
.inclusive-sub {
  background-image: url("./assets/inclusive.svg");
  background-position: 0% 80%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  background-size: 54%;
  align-items: center;
  justify-content: end;
}
.inclusive-design {
  width: 34%;
}
.inclusive-border {
  color: #fff;
  border-left: 5px solid #fff;
  padding-left: 2em;
}
.inclusive-design button {
  text-transform: capitalize;
  border: none;
  font-size: 0.8em;
  font-size: 0.7em;
  color: #1373e5;
  padding: 0.5em 1em;
  margin-top: 3em;
}
.inclusive-border h2 {
  text-transform: capitalize;
}
.inclusive-border p {
  font-size: 0.9em;
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-logo,
.footer-menu,
.footer-copy {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  /* width: 30% */
}
.footer-menu ul {
  display: inline-block;
}
.footer-menu ul li {
  list-style-type: none;
  padding: 0 1em;
  display: inline-block;
}
.footer-menu ul li a,
.footer-copy {
  font-size: 0.8em;
  text-transform: capitalize;
}
@media screen and (max-width: 600px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
  .header a.logo img {
    width: 100%;
    height: auto;
    max-width: 60vw;
  }

  .content {
    width: 100vw;
  }
  .sub-main {
    top: 80%;
    width: 100%;
    height: 100%;
    position: inherit;
  }
  .main {
    height: 100%;
  }
  .threeboxs {
    max-width: 100%;
  }
  .brand {
    padding: 0;
  }
  .brand-new {
    width: 44%;
  }
  .brand-sub {
    background-position: right;
    height: 41vh;
  }
  .inclusive {
    padding: 0 1vw;
  }
  .inclusive-sub {
    background-position: left;
    background-size: 44%;
    height: 50vw;
  }
  .inclusive-design {
    width: 100%;
  }
  .inclusive-border {
    color: #fff;
    padding-left: 13em;
    text-align: end;
    width: 100%;
    border-left: none;
  }
  .inclusive-design button {
    float: right;
    padding: 2px;
    margin-right: 1em;
  }
  .footer-logo,
  .footer-menu,
  .footer-copy {
    display: block;
  }
}
